
# misc files
misc/*
.DS_Store

# env files
.env*
.env.local

# vercel
.vercel

# images
*.jpg
*.png
*.jpeg
*.tif
*.tiff

# zips
*.zip

# Verification Scripts
verify_backend.sh
